<section class="section">
  <div class="container">
      <div class="columns">
      <% if user_signed_in? %>
         <%= render 'feed' %>
        <%= render 'profile' %>
        <%= render 'who-to-follow' %>
      <% else %>
      <%= render 'trend'%>
      <% end %>
       
     </div>
  </div>
</section>

